<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript">
            function getPoints() {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        url: "/getpts",
                        success: function(data) {
                            $("#x_pos").text(data.x)
                            $("#y_pos").text(data.y)
                            $("#hwall").text(data.y)
                        }
                    });
            }
            
            function go() {
                setInterval(getPoints, 100)
            }
        </script>
    </head>
    <body onload="go()">
        <div id="header">
            <span>Maze</span>
        </div>
        <div id="imagespace">
            <canvas id="canvas">
                
            </canvas>
        </div>
        <div id="imageinfo">
            <p>X: <span id="x_pos">0</span></p>
            <p>Y: <span id="y_pos">0</span></p>
            <p>W: <span id="hwall">0</span></p>
        </div>
    </body>
</html>
